* {
    margin:0px;
}

body{
    background-image: url('images (2).jpeg');
}
.card{
    margin: 20px;
    border-radius: 15px;
    background-color:rgb(185, 176, 129);
}
.card-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(8, 8, 8);
    font-size: 30px;;
}
h1 
{ 
    color: #000000; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 55px; font-weight: normal; 
    line-height: 48px;
     margin: 5px; 
}




