* {
    margin:0px;
}
body{
    background: rgb(235, 227, 159);
   

}

.card{
    border-radius: 15px;
    background-color:#b9b9d4;
}
.card-title{
    font-family: 'Times New Roman', Times, serif;
    color:whitesmoke;
}
h1 
{ 
    color: #413f31; 
    font-family: Snell Roundhand,cursive, serif; 
    font-size: 45px; font-weight: normal; 
    line-height: 48px;
     margin: 0; 
}
